body {
	font-family: Verdana, Tahoma, Arial;
    font-size: 12pt;
    background-color: #FFFFFF;
}

ul {
    display: table-row;
}

li {
    vertical-align: middle;
}

.userItem {
    color: #000000;
    font-weight: bold;
    list-style: none;
}

.userItem:hover {
    background-color: #DDDDDD;
    font-weight: bold;
}
